:root {
    --preto-principal: #0F0F10;
    --preto-secundario: #181818;
    --dourado-principal: #C6A75E;
    --texto-branco: #F5F5F5;
    --cinza-tecnico: #6E6E6E;
    --cinza-apoio: #BFBFBF;
}


h1,
h2 {
    font-family: 'Cormorant Garamond', serif;
    color: var(--dourado-principal);
    margin-top: 2rem;
}

.privacy-banner  {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 800px;
    padding: 1rem 1.5rem;
    border-radius: 12px;
    z-index: 1050;

    background-color: var(--preto-secundario);
    padding: 2rem;
    border: 1px solid rgba(198, 167, 94, 0.1);
}

a {
    color: var(--dourado-principal);
    text-decoration: underline;
    transition: 0.3s;
}

a:hover {
    color: var(--texto-branco);
}

.btn-back {
    display: inline-block;
    margin-bottom: 30px;
    color: var(--cinza-tecnico);
    text-decoration: none;
    font-size: 0.9rem;
}

.highlight-box {
    border-left: 2px solid var(--dourado-principal);
    padding-left: 20px;
    margin: 30px 0;
    background: rgba(198, 167, 94, 0.05);
    padding: 20px;
}

@media (min-width: 982px) {
    .privacy-banner  {
        padding: 3rem;
    }
}